.App {
  text-align: center;
}

body{
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Raleway", sans-serif;
  transition: background-color 1s ease;
}

.wrapper{
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 3px;
    width: 450px;
    display: table;
  

    &__quoteButton{
      color: #fff;
      height:38px;
      border: none;
      border-radius: 3px;
      outline: none;
      font-size: 0.85em;
      padding: 8px 18px 6px 18px;
      margin-top: 30px;
      cursor: pointer;
      float: right;
      transition: background-color 1s ease;
    }
}

